.mapFrame {
    width:100%;
    height:360px;
    border:0;
}
.map h6 {
    font-family: "TTHoves-ExtraBold";
    font-weight: 800;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #32495E;
    margin-top: 70px;
    margin-bottom: 50px;
}
.map {
    margin-bottom: 50px;
}
.address, .phone, .email {
    margin-right: 60px;
    margin-bottom: 70px;
}
.address h3, .phone h3, .email h3 {
    font-family: "TTHoves-ExtraBold";
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #32495E;
    margin-bottom: 20px;

}
.address p, .phone p, .email p {
    font-family: "TT Hoves";
    font-size: 20px;
    line-height: 28px;
    color: #32495E;
    width: 180px;
}
.address p {width: 210px;}