footer.container-fluid {
    width: 100%;
    height: 302px;
    background-color:  #333333;
}
.logoFooter, .mapSite, .contactUs {
    margin-top: 40px;
}
.mapSite h2, .contactUs h2 {
    font-family: "TTHoves-ExtraBold";
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #F9F9F9;
    margin-bottom: 20px;
}
.mapSite ul li a, .contactUs ul li  {
    font-family: "TT Hoves";
    font-size: 18px;
    line-height: 17px;
    color: #F9F9F9;
    margin-bottom: 10px;
}
.up button {
    margin-top: 40px;
    width: 34px;
    height: 34px;
    background-color: #E95258;
    border-color: transparent;
    border-radius: 50%;
}
.up p {
    position: absolute;
    font-family: "TT Hoves";
    font-size: 14px;
    color: #F9F9F9;
    transform: rotate(-90deg);
    margin-top: 20px;
}
.copyright p {
    font-family:"TT Hoves";
    font-size: 16px;
    color: #F9F9F9;
    margin-top: 40px;
}