.recommend h6 {
    font-family: "TTHoves-ExtraBold";
    font-weight: 800;
    font-size: 44px;
    text-transform: uppercase;
    color: #32495E;
    margin-top: 70px;
    margin-bottom: 50px;
}
.recommend ul {display: flex}
.recommend ul li {margin-right: 70px; margin-bottom: 70px;}