div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.6;
    z-index:1;
}
form {
    width: 475px;
    height: 517px;
    margin: 0 auto;
    background-color: #32495E;
    border-radius: 20px;
}

h1 {
    font-family: "TT Hoves";
    font-weight: 800;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #F9F9F9;
}

input {
    display: block;
    box-sizing: border-box;
    width: 360px;
    height: 72px;
    border: 1px solid transparent;
    border-bottom: 1px solid #8093AC;
    color: #8093AC;
    padding: 8px 8px;
    margin-bottom: 20px;
    font-size: 14px;
}



input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #bf1650;
}

input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}

input[type="button"]:hover {
    transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
}


